.main {
  display: flex;
  gap: 3.5rem;
  flex-direction: column;
  flex: 1 1;
  place-items: flex-start;
  justify-content: center;
  max-width: 800px;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.description {
  font-size: 1.4rem;
}

.contact {
  padding: 1rem 3rem;
  border-radius: 0.35rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: #555555;
  background-color: hsl(160, 100%, 75%);
}

.contact:hover {
  text-decoration: unset;
  background-color: hsl(160, 100%, 85%);
}
