.primary {
  background-color: var(--light-100);
  border-top: 1px solid var(--light-300);
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1440px;
    padding: 0.5rem 1rem;
    @media (max-width: 640px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .copyright {
    margin-right: 1.5rem;
    font-weight: 600;
  }
  .link {
    transition: 0.4s;
    &__active,
    &:hover {
      @extend .link;
      opacity: 0.5;
    }
  }
}
