:root {
  --size-100: 0.5rem;
  --size-200: 0.6rem;
  --size-300: 0.7rem;
  --size-400: 0.8rem;
  --size-500: 1rem;
  --size-600: 1.2rem;
  --size-700: 2rem;
  --size-800: 2.5rem;
  --size-900: 3rem;
  --green-100: #c0e7d5;
  --green-200: #a7ddc4;
  --green-300: #82cfac;
  --green-400: #36b37a;
  --green-500: #1da96a;
  --green-600: #05a05a;
  --green-700: #049051;
  --pink-100: #fcd3e9;
  --pink-200: #fac2e0;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --purple-100: #ebd9fe;
  --purple-200: #e3cafe;
  --purple-300: #d8b4fe;
  --purple-400: #a78bfa;
  --purple-500: #8b5cf6;
  --purple-600: #7c3aed;
  --purple-700: #6d28d9;
  --red-100: #fddbdb;
  --red-200: #fcb7b7;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --yellow-100: #fef4bf;
  --yellow-200: #fdee9f;
  --yellow-300: #fde97f;
  --yellow-400: #fde460;
  --yellow-500: #fde047;
  --yellow-600: #facc15;
  --yellow-700: #eab308;
}

.light {
  --blue-100: #c9e2fe;
  --blue-200: #b3d6fd;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --dark-100: #5c5f68;
  --dark-200: #50525b;
  --dark-300: #44464d;
  --dark-400: #383a3f;
  --dark-500: #2c2d32;
  --dark-600: #202124;
  --dark-700: #141517;
  --dark-800: #080809;
  --dark-900: #000000;
  --light-100: #ffffff;
  --light-200: #f6f6f6;
  --light-300: #e9e9e9;
  --light-400: #dddddd;
  --light-500: #d0d0d0;
  --light-600: #c3c3c3;
  --light-700: #b6b6b6;
  --light-800: #a9a9a9;
  --light-900: #9c9c9c;
  --currentColor: var(--light-100);
  background-color: var(--light-100);
  color: var(--dark-500);
  transition: 0.4s;
}

.dark {
  --blue-100: #e4f0fe;
  --blue-200: #c9e2fe;
  --blue-300: #b3d6fd;
  --blue-400: #93c5fd;
  --blue-500: #60a5fa;
  --blue-600: #3b82f6;
  --blue-700: #2563eb;
  --dark-100: #ffffff;
  --dark-200: #f6f6f6;
  --dark-300: #e9e9e9;
  --dark-400: #dddddd;
  --dark-500: #d0d0d0;
  --dark-600: #c3c3c3;
  --dark-700: #b6b6b6;
  --dark-800: #a9a9a9;
  --dark-900: #9c9c9c;
  --light-100: #5c5f68;
  --light-200: #50525b;
  --light-300: #44464d;
  --light-400: #383a3f;
  --light-500: #2c2d32;
  --light-600: #202124;
  --light-700: #141517;
  --light-800: #080809;
  --light-900: #000000;
  --currentColor: var(--light-500);
  background-color: var(--light-500);
  color: var(--dark-100);
  transition: 0.4s;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

button {
  background-color: unset;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--size-600);
}

p {
  font-size: var(--size-600);
  a {
    font-size: var(--size-600);
    color: var(--blue-500);
  }
}

ul {
  list-style-type: none;
}

li {
  font-size: var(--size-600);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: var(--size-900);
}
h2 {
  font-size: var(--size-800);
}
h3 {
  font-size: var(--size-700);
}
h4 {
  font-size: var(--size-600);
}
h5 {
  font-size: var(--size-500);
}
h6 {
  font-size: var(--size-400);
}

label {
  font-size: var(--size-600);
}

input[type="color"] {
  padding: 0;
}

input {
  border-radius: 3px;
  border: 1px solid var(--light-300);
  font-size: var(--size-600);
  font-size: var(--size-600);
  margin: 0.5rem;
  min-height: 24px;
  padding: 0.5rem;
  width: calc(100% - 1rem);
}

textarea {
  border-radius: 3px;
  border: 1px solid var(--light-300);
  font-size: var(--size-600);
  margin: 0.5rem;
  min-height: 24px;
  padding: 0.5rem;
  resize: vertical;
  width: calc(100% - 1rem);
}

select {
  border-radius: 3px;
  border: 1px solid var(--light-300);
  font-size: var(--size-600);
  margin: 0.5rem;
  min-height: 24px;
  padding: 0.5rem;
  width: calc(100% - 1rem);
}

::selection {
  background-color: var(--blue-500);
  color: white;
}

@keyframes aurora {
  0% {
    color: var(--blue-500);
  }
  25% {
    color: var(--green-500);
  }
  50% {
    color: var(--pink-500);
  }
  75% {
    color: var(--purple-500);
  }
  100% {
    color: var(--blue-500);
  }
}

.aurora {
  animation: aurora 12s linear infinite;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {
  animation: fade 2s linear;
}

@keyframes hover {
  0% {
    transform: translateY(0.25rem);
  }
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(0.25rem);
  }
}

.hover {
  position: relative;
  animation: hover 4s linear infinite;
}

.animation_svg__hover {
  @extend .hover;
}

.animation_svg__fade {
  @extend .fade;
}

.token {
  &.comment,
  &.block-comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: #999;
  }
  &.punctuation {
    color: #ccc;
  }
  &.tag,
  &.attr-name,
  &.namespace,
  &.deleted {
    color: #e2777a;
  }
  &.function-name {
    color: #6196cc;
  }
  &.boolean,
  &.number,
  &.function {
    color: #dcdcaa;
  }
  &.class-name {
    color: #4ec9b0;
  }
  &.property,
  &.constant,
  &.symbol {
    color: #569cd6;
  }
  &.selector,
  &.important,
  &.atrule,
  &.keyword,
  &.builtin {
    color: #c586c0;
  }
  &.string,
  &.char,
  &.attr-value,
  &.regex,
  &.variable {
    color: #ce9178;
  }
  &.operator {
    color: white;
  }
  &.entity,
  &.url {
    color: #569cd6;
  }
  &.interpolation {
    color: #9cdcfe;
  }
  &.important,
  &.bold {
    font-weight: bold;
  }
  &.italic {
    font-style: italic;
  }
  &.entity {
    cursor: help;
  }
  &.inserted {
    color: green;
  }
}
